{% extends "wasteapp/layouts/base.html" %}
{% load static %}
{% block content %}
<h1>welcome to clean out....</h1>
{% load static %} <img src="{% static "wasteapp/media/wastehome.jpg" %}" alt="home" />

{% endblock %}


<!--<html>

<head>
    <title>Sign in</title>
    <h1>welcome to clean out....</h1>

    <style>
        body{
            background-image :"url"(wasteapp/media/wastehome.jpg)";
            background-repeat : no-repeat;
            background-size : 100% 100%;
            background-attachment : fixed;

        }
    </style>
</head>
</html>-->


